{% extends '@PHPZlcAdmin/page/index.html.twig' %}

{% block hend %}
    <!-- 引用图表的特殊js start -->

    <script type="application/javascript" src="{{ admin_asset('bundles/phpzlcadmin/echarts/echarts.min.js') }}"></script>
    <script type="application/javascript" src="{{ admin_asset('bundles/phpzlcadmin/echarts/theme/macarons.js') }}"></script>

    <!-- 引用图表的特殊js end -->

{% endblock %}

{% block main_content %}
    <div class="console-page clearfix">

        <!-- 块状数据图 start -->

        <div class="console-small-statistics clearfix">
            <a :class="'console-small-statistics-bg'+(index+1)"
               v-for="(item, index) in consoleSmall" :key="index" :href= "item.src" style="margin-left: 40px">
                <p class="console-statistics-name">${item.name}$:</p>
                <p class="console-statistics-value">${item.value}$</p>
            </a>
        </div>

        <!-- 块状数据图 end -->



        <!-- 线性图/柱状图 start -->

        <div class="echarts-content clearfix">
            <el-col>
                <el-col :span="12">
                    <div id="main1" style="width: 100%;height:400px;">
                    </div>
                    <span style="position: absolute; margin-left: 365px; margin-top: -30px; z-index: 100; font-size: 16px">线性图标题</span>
                </el-col>

                <el-col :span="12">
                    <div id="main2" style="width: 100%;height:400px;"></div>
                    <span style="position: absolute; margin-left: 365px; margin-top: -30px; z-index: 100; font-size: 16px">柱状图标题</span>

                </el-col>
            </el-col>
        </div>

        <!-- 线性图/柱状图 end -->

    </div>

{% endblock %}

{% block main_content_vue %}
    <script>
        new Vue({
            el: '#main-content',
            delimiters: ['${', '}$'],
            data: function () {
                return {
                    // 块状数据图数据(根据数据数量进行渲染)
                    consoleSmall: [
                        {
                            id: 1,
                            name: '数据1',
                            value: '2021',
                            src: '#'
                        },
                        {
                            id: 2,
                            name: '数据2',
                            value: '2021',
                            src: '#'
                        },
                        {
                            id: 3,
                            name: '数据3',
                            value: '2021',
                            src: '#'
                        },
                        {
                            id: 4,
                            name: '数据4',
                            value: '2021',
                            src: '#'
                        },
                    ],


                }
            },
            created() {
                // // 页面初始化使用
                // console.log(1);
            },

            mounted() {
            },
            methods: {
            }
        })
    </script>
    <script>
        // 线性图/柱状图数据渲染方法
        setTimeout(function(){
            // 基于准备好的dom，初始化echarts实例
            var myChart1 = echarts.init(document.getElementById('main1'), "macarons");

            // 线性图数据显示
            option1 = {
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: [
                        '7-1',
                        '7-2',
                        '7-3',
                        '7-4',
                        '7-5',
                        '7-6',
                        '7-7',
                    ],
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: [
                        10,
                        20,
                        30,
                        40,
                        50,
                        60,
                        70,
                    ],
                    type: 'line',
                    areaStyle: {}
                }]
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart1.setOption(option1);


            // 基于准备好的dom，初始化echarts实例
            var myChart2 = echarts.init(document.getElementById('main2'), "macarons");

            // 柱状图数据显示
            option2 = {
                xAxis: {
                    type: 'category',
                    data: [
                        '7-1',
                        '7-2',
                        '7-3',
                        '7-4',
                        '7-5',
                        '7-6',
                        '7-7',
                    ],
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: [
                        10,
                        20,
                        30,
                        40,
                        50,
                        60,
                        70,
                    ],
                    type: 'bar',
                    showBackground: true,
                    backgroundStyle: {
                        color: 'rgba(220, 220, 220, 0.8)'
                    }
                }]
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart2.setOption(option2);
        }, 1500)
    </script>

{% endblock %}