{% extends '@PHPZlcAdmin/page/index.html.twig' %}

{% block main_content %}
    <div class="search-page clearfix" >

        <!-- 搜索框 start -->
        <el-row class="page-search">
            <el-form ref="searchForm" :inline="true" :model="searchForm" label-width="90px" style="margin-left: 10px">

                <el-form-item label="评论者:" prop="user_name">
                    <el-input v-model="searchForm.user_name" size="mini" clearable placeholder="请输入">
                    </el-input>
                </el-form-item>

                <el-form-item label="文章标题:" prop="title">
                    <el-input v-model="searchForm.article_title" size="mini" clearable placeholder="请输入">
                    </el-input>
                </el-form-item>

                <el-form-item label="评论时间" prop="create_at" class="search-item-time">
                    <el-date-picker v-model="searchForm.create_at" size="mini" clearable type="daterange"
                                    range-separator="-" start-placeholder="开始日期" end-placeholder="结束日期">
                    </el-date-picker>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" size="mini" @click="searchBtn()"> 搜索 </el-button>
                    <el-button size="mini" @click="resetForm('searchForm')"> 重制 </el-button>
                </el-form-item>

            </el-form>

        </el-row>
        <!-- 搜索框 end -->

        <!-- 数据显示 start-->
        <el-table :data="listData" style="width: 100%" border class="mt-10">
            <el-table-column prop="user_name" label="评论人"></el-table-column>

            <el-table-column prop="article_title" label="评论文章标题" ></el-table-column>

            <el-table-column prop="content" label="评论内容"></el-table-column>

            <el-table-column prop="likes" label="评论点赞数"></el-table-column>

            <el-table-column prop="create_at" label="评论时间"></el-table-column>

            <!-- 添加操作行 start -->
            <el-table-column prop="date" label="操作" width="250">
                <template slot-scope="scope">
                    <el-button size="mini" @click="handleDelete(scope.$index, scope.row)" type="danger"> 删除 </el-button>
                </template>
            </el-table-column>
            <!-- 添加操作行 end -->

        </el-table>
        <!-- 分页 start -->
        <el-col class="mt-20 clearfix">
            <el-pagination class="page" @current-change="handleCurrentChange" @size-change="handleSizeChange"
                           :page-sizes="[20, 60, 100, 200]" :page-size="{{ rows }}" :hide-on-single-page="true" :current-page="{{ page }}"
                           layout="total, sizes, prev, pager, next, jumper" :total="{{ count }}">
            </el-pagination>
        </el-col>
        <!-- 分页 end -->

        <!-- 数据显示 end -->
    </div>
{% endblock %}

{% block main_content_vue %}
    <script>
        new Vue({
            el: '#main-content',
            //用于替换vue数据调用符号
            // delimiters: ['${', '}$'],
            data: function () {
                return {
                    searchForm: {
                        user_name: '',
                        article_title: '',
                        create_at: ''
                    },

                    listData: [
                        {
                            id: '',
                            user_name: '测试',
                            article_title: '测试',
                            content: '测试',
                            likes: '测试',
                            create_at: '',
                        }
                    ],
                }
            },

            created(){
                //页面初始化勾子
            },

            methods: {
                handleCurrentChange(val) {
                    window.location.href = urlParamWrite(getSelfUrl(), 'page', val);
                },

                handleSizeChange(val) {
                    window.location.href = urlParamWrite(getSelfUrl(), 'rows', val);
                },

                // 搜索按钮
                searchBtn() {},

                // 重置按钮
                resetForm(formName){
                    this.$refs[formName].resetFields();
                },

                // 删除按钮
                handleDelete(index, row){},

            }
        })
    </script>
{% endblock %}
