<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <script type="application/javascript" src="{{ admin_asset('bundles/phpzlcadmin/js/jquery-1.8.3.min.js') }}"></script>
    <link rel="stylesheet" href="{{ admin_asset('blog/static/css/me.css') }}">

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?f2a1f70a45863852e5ec7c4f455be065";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    {% block hend %}{% endblock %}
</head>

{% block body %}
{% endblock %}

</html>