<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="{{ admin_asset('blog/static/css/me.css') }}">

    {% block hend %}{% endblock %}
</head>

{% block body %}
{% endblock %}

</html>